
* {
    box-sizing: border-box;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    margin: 10px;

}

.spotContainer {
    padding: 10px;
    /* border: solid purple; */
}

.spotDetail {
    display: flex;
    gap: 130px;
    font-family: 'Manrope', sans-serif;
}

.spotImg{
    width: 400px;
    height: 300px;
    border-radius: 5%;
}



.spotDetailLink {
    color: rgb(0, 0, 0);
    text-decoration: none;

}
