#navContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  height: 70px;
  border-bottom: 1px solid #dddddd;
}

 .hidden {
    display: none;
 }

nav a.active {
    color: rgb(233, 91, 95);
    font-size: 25px;
    text-decoration: none;

}


#profileBtn {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  position: absolute;
  right: 10px;
  text-align: center;
  cursor: pointer;

  border-radius: 20px;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  background-color: transparent;
  width: 80px;
  height: 40px;
}

#profileBtn > * {
  font-size: 20px;
  padding: 7px;
  color: rgb(98, 94, 94);
}



/*----------------------- Profile ------------------------------------*/



#logoutBtn {
  background-color: rgb(233, 91, 95);
  color:rgb(251, 249, 249);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  z-index: 10000;

  right: 50px;

  margin-top: 50px;
  list-style-type: none;
  border-radius: 12px;
  border: 1px solid #dddddd;
  background-color: #fbfbfb;
  width: fit-content;
  cursor: pointer;

  padding: 15px;
  margin-bottom: 4px;
}
