.errors {
    color: red;
    height: 20px;
    margin: 3px;
    box-sizing: border-box;
    font-size: small;
}

#loginContainer {
   text-align: center;

}

.login {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px
}

.inputLogin {
    height: 50px;
    text-align: left;
    padding-left: 20px;
}


.loginBtn {
    background-color: rgb(233, 91, 95);
    color:rgb(251, 249, 249);
    font-size: 15px;
    border: none;
    height: 50px;
    width: 100%;
}

.disabledLogin {
    background-color: rgb(233, 91, 95);
    color:rgb(251, 249, 249);
    font-size: 15px;
    border: none;
    height: 50px;
    width: 1;
    /* margin-left: 20px; */
    cursor: not-allowed;
    opacity: 0.6;
}

nav a.active {
    color: rgb(60, 60, 60);
    text-decoration: none;

}

.demoBtn {
    background-color: rgb(199, 207, 209);
    border-radius: 20px;
    color:rgb(251, 249, 249);
    font-size: 15px;
    border: none;

    cursor: pointer;
    height: 50px;
    width: 100px;

}

.demoBtn:hover{
    background-color: rgb(103, 170, 190);
}
